export JIRA_BASE_URL="{{ onepasswordRead "op://Dotfiles/Jira API/base_url" }}"
export JIRA_EMAIL="{{ onepasswordRead "op://Dotfiles/Jira API/email" }}"
export JIRA_API_TOKEN="{{ onepasswordRead "op://Dotfiles/Jira API/credential" }}"
