format = """
$directory\
$git_branch\
$git_status\
$kubernetes\
$java\
$nodejs\
$python\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
format = "[$symbol$branch]($style) "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[kubernetes]
disabled = false
format = '[k8s:$context/$namespace]($style) '
detect_files = ['helmfile.yaml', 'Helmfile.yaml']
detect_folders = ['k8s', 'kubernetes', 'helm', 'charts', 'kustomize', 'manifests']
detect_env_vars = ['KUBECONFIG']

[java]
format = '[java:$version]($style) '

[nodejs]
format = '[node:$version]($style) '

[cmd_duration]
min_time = 2_000
format = '[$duration]($style) '

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"
